*, ::before, ::after {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #fff;
    /* border: 1px solid crimson; */
}

.calculator {
    width: 100%;
    height: 100vh;

    background-color: black;
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator input {
    background-color: white;
    color: #000;
    border: 1px solid black;
    border-radius: 12px;
    padding: 5px;
}

.calculator button {
    background-color: white;
    color: #000;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
}

.calculator p {
    color: white;
}